.Message {
  &__container {
    display: flex;
    align-items: center;
    padding: 20px;

    img {
      height: 50px;
      border-radius: 8px;
    }
  }

  &__messageInfo {
    padding-left: 10px;

    span {
      color: gray;
      font-weight: 300;
      margin-left: 4px;
      font-size: 10px;
    }
  }
}
