.SidebarHeader {
  &__container {
    display: flex;
    border-bottom: 1px solid #49274b;
  }

  &__circle {
    color: green;
  }

  &__pencilIcon {
    padding: 7px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
    height: 20px;
    padding-top: 0px;
    margin-right: 0.5rem;
  }

  &__info {
    flex: 1;
    padding-left: 1rem;

    h2 {
      font-size: 15px;
      font-weight: 900;
      margin-bottom: 5px;
    }

    h3 {
      display: flex;
      font-size: 13px;
      font-weight: 400;
      align-items: center;
    }

    i {
      font-size: 8px;
      // margin-top: 14px;
      margin-right: 2px;
      color: green;
    }
  }
}
